{% load static %}


<header>
  <div class="container-fluid justify-content-between d-flex flex-wrap text-bg-dark">
    <nav class="navbar">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
          <a href="{% url 'homepage:home' %}">My English</a>
        </span>
      </div>
    </nav>
    {% if user.is_authenticated %}
      <div class="word d-flex">
        <a class="btn btn-warning m-1" href="{% url 'words:add' %}">Добавить слово</a>
        <div class="dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle m-2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.avatar.url }}" alt="mdo" class="rounded-circle" width="32" height="32">
          </a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>            
            <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
          </ul>
        </div>
      </div>
    {% else %}
      <div class="user">
        <div class="btn-group">
          <a class="btn btn-outline-light m-1" href="{% url 'users:login' %}">Войти</a>
          <a class="btn btn-warning m-1" href="{% url 'users:signup' %}">Зарегистрироваться</a>
        </div>        
      </div>
    {% endif %}
  </div>
</header>