{% load static %}


<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Вход</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'other/css/login_signup.css' %}" rel="stylesheet">
        <meta name="theme-color" content="#712cf9">
    </head>
    <body class="text-center">
        <main class="form-signin w-100 m-auto">
            <form method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Изменение пароля</h1>
                {{ form.as_p }}                
                <button class="w-100 btn btn-lg btn-primary m-1" type="submit">Изменить</button>
                <p class="mt-5 mb-3 text-muted">© {% now "Y" %} My English, Inc</p>
            </form>
        </main>
    </body>
</html>